* {
  padding: 0;
  margin: 0;
}

header {
  padding: 20px;
}

.container {
  position: relative;
  top: 0;
  left: 0;
}

.chicken-powa {
  width: 100%;
  height: 674px;
  object-fit: cover;
  object-position: 50% 50%;
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #000000;
  /* margin-top: 200px; */
}

.logo {
  width: 613px;
  height: 613px;
  box-shadow: 0 0 0 #000;
  object-fit: cover;
  position: absolute;
  background-color: 247, 247, 247;
  top: 50px;
  left: 32%;
}
